*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 480px){
    #box-options{
    width: 60vw;
    height: 20vh;
}
    #options{
        flex-direction: row;
        gap: 5%;
    }
    #options > ul{
        flex-direction: column;
    }
    #options > ul > li > a{
        transform: scale(0.8);
    }
    #options > ul > li > a:hover{
        transform: scale(0.8);
    }
    #redes-sociais > a{
       margin: 10%;
    }
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./assets/img/fundo.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main{
    display: flex;
    /* background-color: rgb(113, 34, 179); */
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
ul{
    list-style: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: sticky;
    bottom: 0;
    z-index: -1;
}

#titulo-options{
    backdrop-filter: blur(5px);
    border-radius: 2vh;
    box-shadow: 0 0 100vw white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}
#page-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#box-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 50%;
    min-height: 35vh;
    height: 50%;
    box-shadow: 0px 0px 50px -20px;
    backdrop-filter: blur(10px);
}
#options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 35vh;
    height: 100%;
}

#options > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
#options > ul > li{
    padding: 2vh;
}
#options > ul > li > a{
    width: 15vh;
    height: auto;
    padding: 2vw;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

#options > ul > li > a > img{
    width: 4vh;
    height: auto;
    object-fit: contain;
    display: block;
}
#options > ul > li > a:hover{
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: 1s;
}

#redes-sociais{
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2vw 10vw ;
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    width: 40vw;
    height: 30%;
}
#redes-sociais > a{
    padding: 0.5vw;
}